#langchain core
langchain
langchain-core


#OpenAI Integration
langchain-openai
openai

#anthropic Integration
langchain-anthropic

#Google gemini (PaLM) Integration
langchain-google-genai
google-generativeai


#huggingFace Integration
langchain-huggingface
transformers
huggingface-hub

#Environment Variable Management
python-dotenv


#Machine Learning Utilities
numpy
scikit-learn


pytorch